<div class="row">
<div class="col-md-4" *ngFor="let t of data">
    <!-- Widget: user widget style 2 -->
    <div class="card" style="width: 18rem;">
        <img [src]="t.logo" class="card-img-top imgtheme" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{t.title}}</h5>
          <p class="card-text">{{t.description}}</p>
          <a routerLink="/quiz/{{t.slug}}" class="btn btn-primary">Go to Quiz</a>
        </div>
      </div>
    <!-- /.widget-user -->
  </div>
</div>